* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 350px;
}

.logo__spotify {
    height:40px;
    margin: 5px;
}

.mainnav {
    background: #000000;
}

.mainnav .actived {
 color: red;
}

.mainnav .actived::after {
    content: "";
    background-color: red;
    display:block;
    height: 1px;
    margin-top: 5px;
}

.link-social__media a {
    text-decoration: none;
    list-style: none;
    color:#fff;
}

.nav-item::hover {
    background-color:red;
    background: red;
}

.hero__section {
    background-image: url("../images/audifonos8.jpeg");
    min-height: 500px;
    background-position:25% 55%;
    background-size: 100% ;
}

.hero__nav {
    color:red;
}

.hero__nav > .nav-item > .nav-link{
background-color: transparent;
color:white;
}

.hero__nav .active::after {
    content: "";
    background-color: red;
    height:2px;
    display:block;
    margin-top:5px;
}

/* sonng items styles */

.song__item {
    background-color:#090941;
    border-radius:5px;
}