* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 350px;
    background-color: #013343;
}

.logo__spotify {
    height:40px;
    margin: 5px;
}

.mainnav {
    background: #000000;
}

.mainnav .actived {
 color: red;
}

.mainnav .actived::after {
    content: "";
    background-color: red;
    display:block;
    height: 1px;
    margin-top: 5px;
}

.link-social__media a {
    text-decoration: none;
    list-style: none;
    color:#fff;
}

.nav-item::hover {
    background-color:red;
    background: red;
}

.hero__section {
    background-image: url("../images/audifonos8.jpeg");
    min-height: 450px;
    background-position:25% 35%;
    background-size: 100% ;
}

.hero__nav {
    color:red;
}

.hero__nav > .nav-item > .nav-link{
background-color: transparent;
color:white;
}

.hero__nav .active::after {
    content: "";
    background-color: red;
    height:2px;
    display:block;
    margin-top:5px;
}

/* sonng items styles */

.song__item {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 20, 0.97) 0%, rgb(0, 0, 27) 18%, rgb(2, 77, 78) 43%, rgba(32, 208, 214, 0) 100%);
    border-radius:5px;

    transition:  0.3s ease-out;
}

.song__item:hover {
    border:solid thin grey;
    cursor: pointer;
    transform:translateY(-15px);
}

.img__song-small {

    height:50px; width:50px; object-fit: cover; border-radius: 5px;
}

.song-category {
    color: white;
    font-size:25px;
}

.song-category > small > a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    margin:15px;
}

.song-category >a::after:hover {
    background: linear-gradient(90deg, rgba(1,168,187,1) 18%, rgba(9,0,161,0.9699230033810399) 59%, rgba(0,245,255,0.82) 100%);
    color:rgb(10, 175, 186)
}

.song-category::after {
   
    content: "";
    background-color: #2cc8e5;
    background: linear-gradient(90deg, rgba(1,168,187,1) 18%, rgba(9,0,161,0.9699230033810399) 59%, rgba(0,245,255,0.82) 100%);
    height:1px;
    display: block;
    margin:15px 0;
    width: 50%;
}

.song-card:hover {
    transform:translateY(-15px);
    transition:all  0.5s ease-out;
}

.song-hover {
    position:absolute;
    border: 3px solid  rgb(220, 218, 218);
    background-color: #00000bbb;
    left: 0px;
    top:0px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    opacity: 0;
}

.song-hover:hover {
    opacity: 1;
}

.song-hover:hover i {
    color:rgb(10, 175, 186);
}

.song-img {
    width:200px;
    height:200px;
    object-fit: cover;
}

.section__card-songs {
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;}